/*--ALL--*/
:root {
    --azul-fuerte: #1e1a34;
    --azul-claro: #B9D9EB;
    --gris-claro: #D3D1D1;
}
*{
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: 'Opens Sans', sans-serif;
    font-size: 16px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Russo One', sans-serif;
}
/*--HEADER--*/
header {
    background: var( --azul-fuerte);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4em;
    position: sticky;
}
header a{
    text-decoration: none;
}
header h1 {
    color: var(--azul-claro);
}
/*--HERO--*/
.container .hero {
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.container .hero span{
    color: white;
    font-family: 'Russo One', sans-serif;
}
.container .hero .hero-form{
    background: white;
    color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .hero .hero-form span {
    color: var(--azul-fuerte);
}
.container .hero .hero-form input,
.container .hero .hero-form textarea{
    background: var(--gris-claro);
    border: none;
}
.container .hero .hero-form button {
    background: var(--azul-claro);
    border: none;
    color: white;
    font-family: 'Russo One', sans-serif;
}
.container .hero .hero-form .button-input button:hover {
    background: #555555;
}
.container .hero .hero-form .button-input button:active {
    background: #333333;
}
.container .hero .hero-form form .name-input input:active,
.container .hero .hero-form form .email-input input:active,
.container .hero .hero-form form .message-input textarea:active {
    border: none;
}
/*--SERVICES--*/
.container .servicios-container {
    width: 100%;
    background: linear-gradient(135deg, var(--azul-fuerte), #29AC96);
    color: white;
}

/*--ABOUT--*/
.container .about-container {
    width: 100%;
    background: linear-gradient(135deg, var(--azul-claro), white);
}
.container .about-container .about {
    width: 80%;
}
.container .about-container .about h2{
    color: white;
}
    /*--FOOTER--*/
footer {
    background: var(--azul-fuerte);
    color: white;
}
footer .footer-form .footer-name input,
footer .footer-form .footer-email input,
footer .footer-form .footer-message textarea {
    background: none;
}
footer .footer-form p{
    color: var(--azul-claro);
}
footer .footer-form .footer-button button{
    color: white;
    font-family: 'Russo One', sans-serif;
    background: var(--azul-claro);
    border: none;
}
/*----------------------------------MOBILE FIRST-------------------------------------*/
@media (min-width:320px) {
    /*--HEADER--*/
    header {
        border-bottom: 2px solid var(--azul-claro);
        position: fixed;
        left: 0;
        top: 0;
        box-shadow: #333333 0px 5px 20px;
    }
    header .menu-horizontal {
        display: none;
    }
    /*--HERO--*/
    .container{
        padding-top: 60px;
    }
    .container .hero{
        display: grid;
        grid-template: 1fr 2fr / 100%;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .container .hero span{
        text-align: center;
        font-size: 25px;
        margin: 0 10px;
    }
    .container .hero .hero-form{
        border-radius: 15px;
        margin-bottom: 35px;
        width: 90%;
        padding: 10px 0;
        height: auto;
    }
    .container .hero .hero-form span {
        font-size: 20px;
    }
    .container .hero .hero-form form{
        width: 90%;
        height: 350px;
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;
        grid-template-areas: 'name email' 'msg msg' 'btn btn';
        justify-content: center;
        align-items: center;
    }
    .container .hero .hero-form form .name-input{
        grid-area: name;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: left;
    }
    .container .hero .hero-form form .email-input{
        grid-area: email;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
    .container .hero .hero-form form .message-input{
        grid-area: msg;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .container .hero .hero-form form .button-input{
        grid-area: btn;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .container .hero .hero-form form .name-input input,
    .container .hero .hero-form form .email-input input{
        width: 90%;
        height: 28px;
        color: white;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .container .hero .hero-form form .name-input p,
    .container .hero .hero-form form .email-input p{
        margin: 0;
    }
    .container .hero .hero-form .message-input p{
        margin: 0;
    }
    .container .hero .hero-form .message-input textarea{
        width: 95%;
        color: white;
        padding: 10px 5px;
        margin: 0;
        margin-bottom: 10px;
    }
    .container .hero .hero-form .button-input button {
        padding: 18px 0;
        width: 95%;
        border-radius: 10px;
    }
    /*--SERVICES--*/
    .container .servicios-container{
        display: grid;
        grid-template: 100px 1fr 1fr 1fr / 100%;
        padding-bottom: 70px;
        justify-items: center;
        align-items: center;
    }
    .container .servicios-container .serv-txt{
        letter-spacing: 2px;
        width: 100%;
        margin-top:30px;
        text-align: center;
    }
    .container .servicios-container .serv {
        background-size: cover;
        background-position: center;
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .servicios-container #desarrollo{
        background-image: url(../img//mkt.png);
    }
    .container .servicios-container #brand{
        background-image: url(../img/brand.png);
    }
    .container .servicios-container #mkt{
        background-image: url(../img//mkt.png);
    }
    .container .servicios-container .serv span{
        display: none;
    }
    .container .servicios-container .serv:hover {
        background-image: url(../img/house.webp);
    }
    /*--PORTFOLIO PAGE--*/
    .container .portfolio-container {
        background: var(--gris-claro);
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    .container .portfolio-container h1{
        color: var(--azul-fuerte);
        margin-bottom: 30px;
        font-size: 40px;
    }
    .container .portfolio-container .project-card {
        width: 90%;
        height: auto;
        background: white;
        box-shadow: 0 3px 30px #555555;
        border-radius: 10px;
        align-items: center;
        padding: 30px 0;
    }
    .container .portfolio-container .project-card .project-title{
        display: flex;
        flex-flow: column;
        width: 80%;
    }
    .container .portfolio-container .project-card .project-title span{
        color: #777777;
        text-align: justify;
        margin: 0;
        font-weight: bold;
    }
    .container .portfolio-container .project-card .project-title h2{
        padding: 0;
        margin: 0;
        font-size: 50px;
        letter-spacing: 10px;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        align-self: start;
        display: inline-block;
        margin: 0;
    }
    .container .portfolio-container .project-card img{
        width: 80%;
    }
    .container .portfolio-container .project-card p{
        text-align: justify;
        width: 80%;
        margin-bottom: 30px;
        color: #222222;
        font-size: 18px;
    }
    .container .portfolio-container .project-card p a{
        color: #777777;
        font-size: 16px;
    }
    /*--ABOUT--*/
    .container .about-container .about{
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .container .about-container{
        padding-top: 30px;
    }
    .container .about-container .about  h2{
        color: white;
        font-size: 25px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: center;
    }
    .container .about-container .about p {
        text-align: justify;
        color: #333333;
    }
    .container .about-container .about img{
        width: 100%;
    }
    /*--FOOTER--*/
    footer {
        padding: 0;
        padding-bottom: 60px;
        border-top: 2px solid white;
    }
    footer .footer-txt{
        margin-top: 20px;
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        grid-template-areas: 'social-media' 'txt-title';
        align-items: center;
        justify-items: center;
    }
    footer .footer-txt img{
        width: 20px;
    }
    footer .footer-txt .social-media {
        margin: 0;
        width: 40%;
        grid-area: social-media;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1.5px solid var(--azul-claro);
        border-radius: 20px;
        padding: 3px 6px;
    }
    footer .footer-txt .social-media #yt{
        width: 25px;
    }
    footer .footer-txt span{
        margin-top: 10px;
        grid-area: txt-title;
        font-family: 'Russo One', sans-serif;
        font-size: 25px;
        text-align: center;
    }
    footer .footer-form form{
        width: 90%;
        height: 320px;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        grid-template-areas: 'fname femail' 'fmsg fmsg' 'fbtn fbtn';
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 50px;
    }
    footer .footer-form .footer-name{
        grid-area: fname;
        width: 100%;
    }
    footer .footer-form .footer-email{
        grid-area: femail;
        width: 100%;
    }
    footer .footer-form .footer-message{
        grid-area: fmsg;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    footer .footer-form .footer-button{
        grid-area: fbtn;
        width: 100%;

        display: flex;
        justify-content: center;
    }
    footer .footer-form .footer-name input,
    footer .footer-form .footer-email input{
        width: 89%;
        height: 25px;
        padding: 0 5px;
        color: white;
    }
    footer .footer-form .footer-message textarea {
        width: 91%;
        padding: 10px;
        color: white;
    }
    footer .footer-form .footer-name input,
    footer .footer-form .footer-email input,
    footer .footer-form .footer-message textarea {
        border: 2px solid var(--azul-claro);
    }
    footer .footer-form .footer-button button{
        width: 95%;
        padding: 18px 0;
        margin: 15px 0;
        border-radius: 10px;
    }
    footer .footer-form .footer-button button:hover{
        background: var(--gris-claro);
        color: var(--azul-fuerte);
    }
    footer .footer-form .footer-button button:active{
        background: #555555;
    }
    footer .footer-info{
        margin-top: 8rem;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    footer .footer-info span{
        font-family: 'Russo One', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
    }
}

/*------------------------------------TABLET---------------------------------------*/
@media (min-width:760px) {
    /*--HERO--*/
    .container .hero .hero-form{
        height: 480px;
    }
    .container .hero .hero-form span{
        margin-bottom: 30px;
        font-size: 25px;
        text-align: justify;
        width: 80%;
        padding-left: 2rem;
    }
    .container .hero .hero-form form .name-input input,
    .container .hero .hero-form form .email-input input{
        width: 91%;
        height: 2.5rem;
        padding: 0 10px;
    }
    .container .hero .hero-form form .message-input{
        margin: 20px 0;
    }
    .container .hero .hero-form form .message-input textarea{
        width: 96%;
        padding: 10px;
    }
    .container .hero .hero-form form .button-input{
        margin-bottom: 20px;
    }
    .container .hero .hero-form form .button-input button{
        width: auto;
        padding: 18px 32px;
    }
    /*--SERVICES--*/
    .container .servicios-container{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        height: 80vh;
    }
    .container .servicios-container .serv-txt{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 5rem;
        text-align: justify;
        font-size: 20px;
    }
    .container .servicios-container .serv-txt h2{
        margin-left: 6rem;
    }
    /*--PORTFOLIO PAGE--*/
    .container .portfolio-container .project-card{
        display: grid;
        grid-template: 1fr 2fr / 1fr 2fr;
        grid-template-areas: 'img title' 'img txt';
        align-items: center;
        justify-content: center;
    }
    .container .portfolio-container .project-card img{
        grid-area: img;
        width: 100%;
        margin: 0 30px;

    }
    .container .portfolio-container .project-card .project-title{
        grid-area: title;
        align-self: end;
    }
    .container .portfolio-container .project-card .project-title h2{
        font-size: 40px;
    }
    .container .portfolio-container .project-card p{
        grid-area: txt;
        font-size: 16px;
    }
    /*--ABOUT--*/
    .container .about-container .about{
        padding-bottom: 40px;
        margin-top: 0;
    }
    .container .about-container .about h2{
        text-align: justify;
        margin: 0;
        font-size: 40px;
    }
    .container .about-container .about {
        display: grid;
        grid-template: 40px 1fr / 1fr 1fr;
        grid-template-areas: 'title title' 'txt img';
        align-items: center;
        justify-content: center;
        grid-column-gap: 50px;
    }
    .container .about-container .about h2{
        grid-area: title;
        margin-bottom: 40px;
    }
    .container .about-container .about .txt {
        grid-area: txt;
    }
    .container .about-container .about img {
        grid-area: img;
    }
    /*--FOOTER--*/
    footer .footer-txt{
        grid-template: 1fr / 2fr 1fr;
        grid-template-areas: 'txt-title social-media';
        align-items: center;
        justify-items: center;
    }
    footer .footer-txt img{
        width: 25px;
    }
    footer .footer-txt .social-media {
        margin: 0;
        margin-top: 10px;
        width: 70%;
        grid-area: social-media;
        padding: 0;
        border: none;
    }
    footer .footer-txt .social-media #yt{
        width: 30px;
    }
    footer .footer-txt span{
        grid-area: txt-title;
        margin-left: 3rem;
    }
    footer .footer-info {
        text-align: justify;
    }
    footer .footer-form .footer-name input,
    footer .footer-form .footer-email input{
        padding: 0 10px;
        width: 92%;
    }
    footer .footer-form .footer-message{
        margin: 30px 0;
    }
    footer .footer-form .footer-message textarea{
        width: 96%;
    }
    footer .footer-form .footer-button button {
        width: auto;
        padding: 18px 32px;
        border-radius: 15px;
    }
    footer .footer-info p{
        margin-left: 3rem;
    }
}
/*--------------------------------------DESKTOP--------------------------------*/
@media (min-width:1020px) {
    /*--HEADER--*/
    header {
        justify-content: space-around;
    }
    header .menu-horizontal{
        display: flex;
    }
    header .menu-horizontal li{
        display: inline-block;
    }
    header .menu-horizontal li a{
        color: var(--gris-claro);
        text-decoration: none;
        font-family: 'Russo One', sans-serif;
        margin: 0 10px;
    }
    header .menu-horizontal li a:hover {
        color: var(--azul-claro);
    }
    header .menu-horizontal li a:active {
        color: white;
    }
    /*--HERO--*/
    .container .hero{
        grid-template: 1fr / 1fr 2fr;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }
    .container .hero span {
        font-size: 40px;
        margin-left: 30px;
        text-align: justify;
    }
    /*--SERVICIOS--*/
    .container .servicios-container .serv-txt h2{
        font-size: 40px;
    }
    /*--PORTFOLIO PAGE--*/
    .container .portfolio-container .project-card .project-title span{
        font-size: 20px;
    }
    .container .portfolio-container .project-card .project-title h2{
        font-size: 50px;
        letter-spacing: 20px;
    }
    .container .portfolio-container .project-card p{
        font-size: 23px;
        align-self: start;
    }
    /*--ABOUT--*/
    .container .about-container .about {
        grid-template: 40px 1fr / 2fr 1fr;
    }
    /*--FOOTER--*/
    footer span{
        font-size: 40px;
    }
    footer .footer-txt img{
        width: 35px;
    }
    footer .footer-txt .social-media #yt{
        width: 40px;
    }
    footer .footer-txt span{
        grid-area: txt-title;
        margin-left: 5rem;
    }
    footer .footer-info{
        margin-top: 6rem;
    }
    footer .footer-info p{
        font-size: 15px;
    }
    footer .footer-info span{
        font-size: 20px;
    }
}
@media (min-width:1500px) {
    .container .servicios-container .serv{
        height: 300px;
        width: 300px;
    }
    .container .about-container .about p {
        font-size: 20px;
    }
}